<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="http://localhost:8001/{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="^swagger/(.*)" />
                    <action type="Rewrite" url="http://localhost:8001/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
