<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Static Assets" stopProcessing="true">
          <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg))" />
          <action type="Rewrite" url="/{R:1}" />
        </rule>
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
		<rule name="HTTP Redirect" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                        <add input="{HTTP_HOST}" pattern="^(www\.)?(.*)$" />
                    </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="false" />                    
        </rule>
        <rule name="Remove WWW" patternSyntax="Wildcard" stopProcessing="true">
			<match url="*" />
			<conditions>
			<add input="{CACHE_URL}" pattern="*://www.*" />
			</conditions>
			<action type="Redirect" url="{C:1}://{C:2}" redirectType="Permanent" />
		</rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>